@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}


@media (max-width: 768px) {
    .img {
      max-width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .img {
      max-width: 60%;
    }
  }
  
  @media (max-width: 768px) {
    .elemento-a-ocultar {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .lh-1, .lh-sm, .lh-base, .lh-lg {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .lh-1, .lh-sm, .lh-base, .lh-lg {
      font-size: 18px;
      line-height: 1.6;
    }
  }
  