main iframe {
  margin-top: 20px;
}

.titulo {
  color: #4d4cce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form {
  color: #4d4cce;
  line-height: 1.5;
}

label, input, textarea {
  color: #4d4cce;
}

input {
  &[type="radio"], &[type="submit"], &[type="reset"] {
    color: #4d4cce;
  }
}

.texto {
  color: #4d4cce;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .textos {
    height: 100%;
  }
}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;

  ul {
    list-style: none;

    li {
      margin: 15px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}

.animate__animated.animate__backInDown {
  --animate-duration:4s;
}

h1, h2, h3, h4 {
  color: #4d4cce;
}
